$main-font-color: #333;

$main-color: #08c;

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;;
  font-size: 14px;
  line-height: 1.5;
  color: $main-font-color;
}

body {
  margin: 0;
  font-size: inherit;
}

a {
  color: $main-color;
}


.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.wrapper {
  max-width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 3rem;
}

main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.loading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.center {
  text-align: center;
}


@mixin size($width, $height: 0) {
  @if $height <= 0 {
    $height: $width
  }
  width: $width;
  height: $height;
}


// auto hyphens
@mixin hyphens {
  word-break: break-all;
  hyphens: auto;
}

// border-bottom
@mixin border-bottom {
  border-bottom: 1px solid #ccc;
}


@mixin clearfix {
  &:after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
}

.my-2 {
  margin-top:2em;
  margin-bottom:2em;
}
.input {
  outline:none;
  resize:none;
  background:#F7FAFC !important;
  border:none;
  padding-left:1rem;
}
.textarea { 
  outline:none;
  resize:none;
  background:#F7FAFC !important;
  border:none;
  padding-left:1rem;
  min-height: 110px;
  max-height: 200px;
}