$main-font-color: #333;

$main-color: #08c;

$input-background:#ececec;
$input-toolbar-background:#e0e0e0;
$input-toolbar-color:#000;
$primary-color:#FF0D6A;
$input-border-color:#B300FF;
$color-neutral-negative-1: #76818C;
$color-neutral-negative-2: #203040;
$color-alternative: #14CCB7;
$color-secondary:#6948A1;
$ledger-color:#203040;
